{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>

		{% block stylesheets %}
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>
				{% block title %}{% endblock %}
			</title>
			<!-- Google Font: Source Sans Pro -->
			<link
			rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
			<!-- Font Awesome Icons -->
			<link
			rel="stylesheet" href="{{ asset("plugins/fontawesome-free/css/all.min.css") }}">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{ asset("plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}">
			<!-- Theme style -->
			<link rel="stylesheet" href="{{ asset("dist/css/adminlte.min.css") }}">

			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		{% endblock %}
	</head>

	<body class="dark-mode hold-transition sidebar-mini sidebar-collapsed">
		<div
			class="wrapper">

			<!-- Preloader -->
			<div class="preloader flex-column justify-content-center align-items-center">
				<img class="animation__wobble" src="{{ asset("img/game.png") }}" alt="Local Game" height="60" width="60">
			</div>

			<!-- Navbar -->
			<nav
				class="main-header navbar navbar-expand navbar-dark">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button">
							<i class="fas fa-bars"></i>
						</a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="{{path('app_home')}}" class="nav-link">Accueil</a>
					</li>
				</ul>

				<!-- Right navbar links -->
				<ul
					class="navbar-nav ml-auto">
					<!-- Notifications Dropdown Menu -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#">
							<i class="far fa-bell"></i>
							<span class="badge badge-warning navbar-badge">15</span>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							<span class="dropdown-item dropdown-header">15 Notifications</span>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item">
								<i class="fas fa-envelope mr-2"></i>
								4 new messages
								<span class="float-right text-muted text-sm">3 mins</span>
							</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item">
								<i class="fas fa-users mr-2"></i>
								8 friend requests
								<span class="float-right text-muted text-sm">12 hours</span>
							</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item">
								<i class="fas fa-file mr-2"></i>
								3 new reports
								<span class="float-right text-muted text-sm">2 days</span>
							</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-widget="fullscreen" href="#" role="button">
							<i class="fas fa-expand-arrows-alt"></i>
						</a>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside
				class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="index3.html" class="brand-link">
					<img src="{{ asset("img/ninja.png") }}" alt="Local Game" height="60" width="60" class="brand-image img-circle elevation-3" style="opacity: .8">
					<span class="brand-text font-weight-light">Local gamer</span>
				</a>

				<!-- Sidebar -->
				<div
					class="sidebar">
					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul
							class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
																																																																																																																																																																																																																																																																																																																																																																																																																																																									               with font-awesome or any other icon font library -->
							<li class="nav-item menu-open">
								<a href="#" class="nav-link active">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>
										Jeux rapide
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{path('app_memo')}}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Memo</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_home')}}" class="nav-link active">
											<i class="far fa-circle nav-icon"></i>
											<p>Jeux 2</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_home')}}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Jeux 3</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="{{path('app_home')}}" class="nav-link">
									<i class="nav-icon fas fa-th"></i>
									<p>
										Administration
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fas fa-tree"></i>
									<p>
										Session
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{{path('app_home')}}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Créer un jeux</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_home')}}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Ouvrir une session</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_home')}}" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>stats</p>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<section class="content-wrapper" id="content" style="min-height: 1419.6px;">
				<div class="content-header">
					{% for message in app.flashes('message') %}
						<div class="alert alert-success" role="alert" id="alert">
							{{ message }}
							<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					{% for message in app.flashes('info') %}
						<div class="card alert alert-info alert-dismissible fade show text-right" role="alert" id="alert">
							{{ message }}
							<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger" role="alert" id="alert">
							{{ message }}
							<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					{% for message in app.flashes('warning') %}
						<div class="alert alert-warning text-align-right" role="alert" id="alert">
							{{ message }}
							<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
					<div class="container-fluid"> {% block body %}{% endblock %}
						</div>
					</div>
				</section>
				<!-- /.content-wrapper -->
				<!-- Control Sidebar -->
				<footer class="main-footer">
					<strong>Copyright &copy; 2022
						<a mailto="blackmath62@gmail.com">Blackmath62</a>.</strong>All rights reserved.<div class="float-right d-none d-sm-inline-block">
						<b>Version</b>1.0.0</div>
				</footer>
			</div>

			<!-- ./wrapper -->
			<!-- REQUIRED SCRIPTS -->
			<script src="{{ asset("games/memo/main.js") }}"></script>
			<!-- jQuery -->
			<script src="{{ asset("plugins/jquery/jquery.min.js") }}"></script>
			<!-- Bootstrap -->
			<script src="{{ asset("plugins/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
			<!-- overlayScrollbars -->
			<script src="{{ asset("plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js") }}"></script>
			<!-- AdminLTE App -->
			<script src="{{ asset("dist/js/adminlte.js") }}"></script>
			<!-- PAGE PLUGINS -->
			<!-- jQuery Mapael -->
			<script src="{{ asset("plugins/jquery-mousewheel/jquery.mousewheel.js") }}"></script>
			<script src="{{ asset("plugins/raphael/raphael.min.js") }}"></script>
			<script src="{{ asset("plugins/jquery-mapael/jquery.mapael.min.js") }}"></script>
			<script src="{{ asset("plugins/jquery-mapael/maps/usa_states.min.js") }}"></script>
			<!-- ChartJS -->
			<script src="{{ asset("plugins/chart.js/Chart.min.js") }}"></script>
		</body>
	</html>
